@import "xp.css/dist/xp.css";

@tailwind base;

/* custom styles go here */
.office-colors {
    background: linear-gradient(
        to right,
        #DE482B 25%,
        #FCCF03 25%,
        #FCCF03 50%,
        #81C046 50%,
        #81C046 75%,
        #3B77BC 75%,
        #3B77BC 100%
    )
}

@tailwind components;

@tailwind utilities;
